{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Find Leads{% endblock %}
{% block content %}



    <style>
        
        .content {
            flex: 1;
            padding: 100px;
            margin-left: 250px;
        }

        form label, form input, form button {
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }
        form button {
            background-color: #66b9b2;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        form button:hover {
            background-color: #2b7e69;
        }
    </style>

    <div class="content">
        <h1>Verify Domain</h1>
        <form method="post" action="{% url 'verify_domain' %}">
            {% csrf_token %}
            <label for="domain_id">Domain ID:</label>
            <input type="text" id="domain_id" name="domain_id" required>
            <button type="submit">Verify Domain</button>
        </form>
    </div>

    {% endblock %}
