{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Find Leads{% endblock %}
{% block content %}
<style>
.container{
    width:60%;
    padding-right:12px;
    padding-left:12px;
    margin-right:auto;
    margin-left:auto}
</style>
<div class="container mt-5">
    <h1 class="mb-4">Find Leads</h1>
    <form id="findLeadsForm" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search query" id="searchQuery" name="query"
                   value="{{ query }}">
            <button class="btn btn-success waves-effect waves-light" type="submit">Search</button>
        </div>
    </form>
    <div id="leadsList">
        {% for lead in leads %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ lead.name }}</h5>
                <p class="card-text"><strong>Contact Number:</strong> {{ lead.contact_no }}</p>
                <p class="card-text"><strong>Industry:</strong> {{ lead.industry }}</p>
                <p class="card-text"><strong>Location:</strong> {{ lead.location }}</p>
                <p class="card-text"><strong>Notes:</strong> {{ lead.notes }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
